@font-face {
    font-family: Colfax-Regular;
    src: url("./assets/fonts/Colfax-Regular.otf") format("opentype");
}

@font-face {
    font-family: Colfax-Medium;
    font-weight: 500;
    src: url("./assets/fonts/Colfax-Medium.otf") format("opentype");
}

.textRegular {
    font-family: Colfax-Regular, serif;
    color: #9b9b9b
}

.textMedium {
    font-family: Colfax-Medium, serif;
    color: #1b1b1b;
}

.pickeatBtn {
    font-family: Colfax-Medium, serif !important;
    text-transform: none !important;
    background-color: #40d21b !important;
    /*color: #343434;*/
    color: white !important;
}

.pickeatBtnSlim {
    font-family: Colfax-Medium, serif !important;
    text-transform: none !important;
    background-color: #d21b40 !important;
    /*color: #343434;*/
    color: white !important;
}


.pickeatBtnRed {
    font-family: Colfax-Medium, serif !important;
    text-transform: none !important;
    background-color: #d21b40 !important;
    color: #343434;
}

.pickeatBtn:hover {
    background-color: #46e01d !important;
}

#scanner-container {
    position: relative;
}

.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}