@font-face {
    font-family: Colfax-Regular;
    src: url("./assets/fonts/Colfax-Regular.otf") format("opentype");
}

@font-face {
    font-family: Colfax-Medium;
    font-weight: 500;
    src: url("./assets/fonts/Colfax-Medium.otf") format("opentype");
}
